# Node
node_modules/
*/node_modules/

# Build files
build/
dist/
.next/
.cache/
*/.cache/

# Serverless
.serverless/
*/.serverless/

# Package files
*.zip
*.tar.gz

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*
!.env.example

# Local uploads (use S3 in production)
uploads/
backend/uploads/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
